/* PlannerPage.css */

#planner-page {
  display: flex;
  height: 100vh; /* 전체 화면 높이 */
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}

.planner-page-container {
  flex: 1; /* 리스트가 차지할 공간을 설정 */
  overflow-y: auto; /* 내용이 넘칠 때 스크롤 가능 */
  padding: 16px; /* 여백 추가 */
  background-color: #f9f9f9; /* 배경색 설정 */
}

#map-container {
  flex: 2; /* 지도가 차지할 공간을 설정 */
  position: relative;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.popup-content img {
  max-width: 100%; /* 이미지가 팝업의 너비를 초과하지 않도록 설정 */
  max-height: 400px; /* 원하는 최대 높이 설정 (필요에 따라 조정) */
  width: auto; /* 너비를 자동으로 조정 */
  height: auto; /* 높이를 자동으로 조정 */
  object-fit: contain; /* 이미지 비율 유지하면서 컨테이너에 맞게 조정 */
  border-radius: 8px; /* 모서리 둥글게 하기 */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.restaurant-container,
.hotel-container {
  margin-bottom: 20px; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.route-info-between {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* 부모 요소 기준으로 가상 요소 위치 설정 */
  padding: 10px 0;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.route-info-between::before,
.route-info-between::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%; /* 수직선의 길이 조절 */
  height: 1px;
  background: #000; /* 수직선 색상 */
  z-index: -1;
}

.route-info-between::before {
  left: 0;
  margin-left: 10px; /* 왼쪽 수직선과 텍스트 사이의 거리 */
  transform: translateY(-50%); /* 수직선의 중앙 정렬 */
}

.route-info-between::after {
  right: 0;
  margin-right: 10px; /* 오른쪽 수직선과 텍스트 사이의 거리 */
  transform: translateY(-50%); /* 수직선의 중앙 정렬 */
}

.route-info-between p {
  margin: 0;
  padding: 0 10px; /* 텍스트와 수직선 사이의 패딩 */
  background: #f9f9f9; /* 텍스트 배경색 (선택사항) */
  position: relative; /* 텍스트를 기준으로 수직선 배치 */
  display: inline-block; /* 텍스트를 수직 중앙에 배치하기 위한 설정 */
}

.planner-page-container label {
  color: #333; /* Darker color for better contrast */
}

.planner-page-container input,
.planner-page-container textarea {
  padding: 10px; /* Add padding inside the input */
  margin-bottom: 20px; /* Add spacing below the input */
  font-size: 1rem; /* Set input font size */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Rounded corners */
}

