/* Footer 스타일 */
.footer {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%; /* 너비를 100%로 설정 */
  color: #f2f2f2;
  border-radius: 8px 8px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  padding: 10px; /* 패딩 추가 */
  position: relative; /* 상대 위치 지정 */
  z-index: 2;
}

/* 메인 콘텐츠 스타일 */
.main-content {
  flex: 1;
  background-color: #ffffff;
  padding: 20px; /* 필요에 따라 여백 조절 */
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
}